<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>netShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HandleLogin</display-name>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>com.control.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/HandleLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleExitSys</display-name>
    <servlet-name>HandleExitSys</servlet-name>
    <servlet-class>com.control.HandleExitSys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleExitSys</servlet-name>
    <url-pattern>/HandleExitSys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleProduct</display-name>
    <servlet-name>HandleProduct</servlet-name>
    <servlet-class>com.control.HandleProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleProduct</servlet-name>
    <url-pattern>/HandleProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleItem</display-name>
    <servlet-name>HandleItem</servlet-name>
    <servlet-class>com.control.HandleItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleItem</servlet-name>
    <url-pattern>/HandleItem</url-pattern>
  </servlet-mapping>
</web-app>